/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    width: 100%;
    padding-bottom: 80px;
}

.contact .content-contact {
    height: 100%;
}

.contact .content-contact .desc,
.contact .content-contact .title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.contact .content-contact .title h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 64px;
    text-align: center;
}

.contact .content-contact .desc p {
    line-height: 28px;
    text-align: justify;
}

.contact .content-contact ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact .content-contact ul li {
    padding: 0 20px;
}

.contact .content-contact ul li h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}

.contact .content-contact ul li a {
    color: #797979;
    font-size: 18px;
    line-height: 36px;
}
